.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: overlay;
    flex-direction: column;
  }
  .layout {
    display: flex;
    margin-top: 56px;
    flex: 1;
  }
  .contents1 {
    margin-left: 240px;
    flex: 1;
  }
  .contents2 {
    margin-left: 240px;
    flex: 1;
    transform: translateX(-240px);
  }
  .pad {
    width: 0px;
    height: 0px;
    display: none;
  }
  @media screen and (max-width: 911px) {
    .contents1 {
      margin-left: 72px;
    }
    .contents2 {
      margin-left: 72px;
      transform: translateX(-72px);
    }
  }